.signInPage {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
