.profile {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileCard {
    width: 60%;
    padding: 20px;
    border: 1px black solid;
    display: flex;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffcdae;
    font-size: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo {
    margin-left: 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.wrapper > button:hover {
    background: red;
}

.wrapper > p {
    margin: 10px;
}

.username {
    display: flex;
}

.username > h1 {
    margin: 10px;
}

.userFeeds {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px black solid;
    border-radius: 15px;
}

.content::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
