.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.noContent {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main::-webkit-scrollbar {
    width: 8px;
}

.main::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}