.main {
    width: 80%;
    padding: 20px;
    margin: 20px;
    border: 1px black solid;
    border-radius: 15px;
}

.main > p {
    max-width: 100%;
    overflow-wrap: break-word;
}

.profile {
    display: flex;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffcdae;

    display: flex;
    justify-content: center;
    align-items: center;
}

.usernameWrapper {
    display: flex;
    align-items: flex-start;
}

.usernameWrapper > p {
    margin: 0 5px 0 5px;
}

.avatar:hover {
    cursor: pointer;
}