.main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content  {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.noContent {
    height: 60%;
    display: flex;
    align-items: center;
}

.content::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}