.main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content  {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
