.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 100vh;
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}