.signUpContainer {
    width: 300px;
    height: 410px;
    padding: 20px;
    border-radius: 5px;
    border: #626262 1px solid;

    display: flex;
    flex-direction: column;
}

.signUpForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    height: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}