.signUpContainer {
    width: 300px;
    height: 410px;
    padding: 20px;
    border: black 1px solid;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 20%
}

.signUpForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    height: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}