.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: #ffcdae;
    margin-left: 100px;

    font-size: 28px;
    font-weight: bolder;
}

.buttons {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffcdae;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar:hover {
    cursor: pointer;
}