.commentsCard {
    width: 500px;
    height: 800px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.commentsCard > h2 {
    margin: 10px 0 30px 0;
}

.content {
    width: 100%;
    height: 90%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}