.commentsCard {
    width: 500px;
    height: 800px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.commentsCard > h2 {
    margin: 10px 0 30px 0;
}

.content {
    width: 100%;
    height: 90%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}